body {
    margin: 0;
    padding: 0;
    background-color: black;    
}

#game {
    position: absolute;
    width: 700px;
    height: 250px;
    background-color: darkblue;
    top: 50px;
    margin: 0 auto;
    margin-top: 20vh;
    z-index: 10;
 }

#score {
    color: white;
    font-size: 25px;
    margin-left: 10px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#runner {
    height: 120px;
    width: 60px;
    /* background-color: navajowhite; */
    position: relative;
    top: 150px;
    left: 100px;
    z-index: 1;
}

#runner img {
    max-height: 120px;
    width: auto;

}

.animate {
    animation: jump .5s linear 0s;
}

@keyframes jump{
    0%{top: 150px;}
    30%{top: 80px;}
    70%{top: 80px;}
    100%{top: 150px;}
}

#obstacle  {
    position: relative;
    height: 40px;
    width: 80px;
    left: 100%;
    animation: block 1.3s infinite linear;
    top: 100px;
    left: 100%;
    z-index: 10;
}

#obstacle img {
    height: 40px;
    width: auto;
    top: 10px;
    position: absolute;
}

@keyframes block {
    0%{left: 680px;}
    100%{left: -680px;}
}

#ground {
    width: 700px;
    position: absolute;
    height: 50px;
    top: 440px;
    background-color: pink;
    z-index: 1;
}